@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hapus atau modifikasi style body yang mempengaruhi layout */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Mencegah horizontal scroll */
}

/* Hapus style button default karena kita menggunakan Tailwind */
button {
  all: unset;
  cursor: pointer;
}

/* Tambahkan di bagian akhir file */
@layer utilities {
  .animate-slide {
    animation: slide 30s linear infinite;
  }
  .animate-slide:hover {
    animation-play-state: paused;
  }
}